
ul.navbar {
display: inline-block;
   text-align:center; 
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:35px;
     width:100%;
    background:red; /* #6a4255; you can change the background color here. */
    font-family:arial,sans-serif,Helvetica;
    font-size:25px; top:25px;
  
}

ul.navbar li {display: inline-block;
    border-right:1px solid teal; /*    you can change the border color matching to your background color */
   }

ul.navbar a {
    display:block;
    padding:0 28px;
    color:gold;  
   /* text-decoration:none;  -- to remove underlines*/
}

ul.navbar a:hover,  ul.navbar li.current a {
    background:green; 
}